client/node_modules

# Output
client/.output
client/.vercel
client/.netlify
client/.wrangler
client/.svelte-kit
client/build

# OS
client/.DS_Store
client/Thumbs.db

# Env
client/.env
client/.env.*
client/!.env.example
client/!.env.test

# Vite
client/vite.config.js.timestamp-*
client/vite.config.ts.timestamp-*

server/embark.json
server/embark
server/embark.exe
server/go.sum
